In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import datetime

In [5]:
df=pd.read_csv('attacks.csv', encoding='latin-1')

In [6]:
#Se lee el archivo y se analiza el tipo de dato de cada columna

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
df.drop([ 'Unnamed: 22', 'Unnamed: 23'] , axis = 1, inplace = True)

In [9]:
#elimina columnas

In [10]:
df=df.dropna(how='all')

In [11]:
indexNames = df[ (df['Case Number'] == '0') ].index
df.drop(indexNames , inplace=True)
indexNames = df[ (df['Case Number'] == 'xx') ].index
df.drop(indexNames , inplace=True)

In [16]:
df['Year'] = df['Year'].astype('str')

#df['Year2']=df['Date'].apply(lambda x: "-".join([str(_) for _ in re.findall('-(\d+)',x)]))

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6302 non-null   object
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
dtypes: float64(1), object(21)
memory usage: 1.1+ MB

In [15]:
#df['Case Number'].apply(lambda x: type(x))

In [43]:
#df['href'].apply(lambda x: "-".join([str(_) for _ in re.findall('\d+',x)]))